<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('css.ejs') %>
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>

    <form class="form-box" action="/modify?_method=PUT" method="POST">
        <h4>글쓰기</h4>
        <input name="title" value="<%= result.title %>">
        <input name="content" value="<%= result.content %>">
        <input name="id" value="<%= result._id %>" type="hidden">
        <button type="submit">전송</button>
    </form> 

</body>
</html>